<!DOCTYPE html>
<html>
  <head>
    <title>Favorite Color</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  </head>
  <body>
<!--
    <form action='/response'>
      <label for="color">What is your favorite color?</label>
      <br>
      <input type="text" name="color" id="color">
      <br><br>

      <label for="num">What number do you want to multiply by 2?</label>
      <br>
      <input type="number" name="multNum" id="num" required>
      <br><br>
      <input type="submit">
    </form>
-->
<div class="container">
  <img src="{{ url_for('static', filename='chatbot.jpg')}}" alt="Avatar">
  <p>Hello. How are you today?</p>
  <span class="time-right">11:00</span>
</div>

<div class="container darker">
  <img src="{{ url_for('static', filename='user.png')}}" class="right">
  <p>Hey! I'm fine. Thanks for asking!</p>
  <span class="time-left">11:01</span>
</div>

<div class="container">
  <img src="{{ url_for('static', filename='chatbot.jpg')}}">
  <p>Sweet! So, what do you wanna do today?</p>
  <span class="time-right">11:02</span>
</div>

<div class="container darker">
  <img src="{{ url_for('static', filename='user.png')}}" alt="Avatar" class="right">
  <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
  <span class="time-left">11:05</span>
</div>
  </body>
</html>
